<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639384979549-2v9t5l9johchh06m6qbobn6dhjn0e5th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639384979549-2v9t5l9johchh06m6qbobn6dhjn0e5th</string>
	<key>API_KEY</key>
	<string>AIzaSyANTDjrdda-F7E4_txgjU05yNYJhKyao7o</string>
	<key>GCM_SENDER_ID</key>
	<string>639384979549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dfuture.mx.MuseoDeTodos</string>
	<key>PROJECT_ID</key>
	<string>museo-de-todos</string>
	<key>STORAGE_BUCKET</key>
	<string>museo-de-todos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639384979549:ios:8a4f09810715cbb88265b4</string>
</dict>
</plist>